name: Format

on:
  workflow_call:

jobs:
  format:
    name: Format check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node & Yarn
        uses: ./actions/prepare

      - name: Run format check
        run: yarn fmt:check
